fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
pgvector
alembic
pydantic
pydantic-settings
python-dotenv
bcrypt
python-jose[cryptography]
python-multipart
langchain-ollama
langchain-text-splitters
langchain-community
pypdf